.App {
  display: grid;
  width: 800px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr  0.5fr repeat(5, 1fr);
  outline: 1px solid black;
  margin: 10px 10px;
}

.MonthYear {
  grid-row: 1/2;
  grid-column: 1/8; 
  display: flex;
  border: 2px solid blue;
  align-content: center;
}

.DayNames {
  grid-row: 2/3;
  grid-column: 1/8;
}
