.Calendar {
  display: grid;
  width: 800px;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr  0.5fr 5fr;
  outline: 1px solid black;
  margin: 10px 10px;
}

.MonthYear {
  grid-row: 1/2;
  display: flex;
  border: 2px solid blue;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.DayNames {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  border: 1px solid black;
}

.Days {
  grid-row: 3/4;
  grid-column: 1/2;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
}

.Month {
  display: flex;
  margin-left: 10%;
  padding-right: 5%;
  border: 1px solid blue;
}

.Year {
  display: flex;
  margin-right: 10%;
  padding-left: 5%;
  border: 1px solid blue;
}

.MonthButtons {
  display: flex;
}