.Day {
    display: flex;
    height: 100%;
    max-width: 50px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.Day p {
    border: none;
    background-color: none;
    color: rgb(36, 36, 36);
    text-decoration: none;
}

.Day:hover {
    border: 3px solid #008CBA;
}