.Calendar {
  display: grid;
  max-width: 600px;
  width: 100%;
  grid-template-rows: auto 1fr;
  margin: 10px 10px;
}

.Header {
  grid-row: 1/2;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MYBtns {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.MonthYear {
  display: flex;
  font-size: 17pt;
  width: 100%;
  margin-left: 20px;
  justify-content: left;
  align-content: center;
}

@media (min-width: 600px) {
  .MonthYear {
    margin-left: 40px;
  }
}

.Month {
  margin-right: 8px;
}

.MonthButtonsContainer {
  display: inline-block;
  padding: 0 10px;
}

.MonthButtons {
  display: block;
}

.DayNames {
  display: flex;
  height: 35px;
  width: 100%;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.Days {
  grid-row: 3/4;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 50px);
  align-items: center;
  justify-items: center;
}